*{
	margin: 0;
	padding: 5;
}
html,body {
	background-color: white;
	color: white;
	height:100%;
	width: 100%;
  -webkit-font-smoothing:antialiased !important;
}

/* Section GreatestNerd - CSS*/
#fullName{
	color:#4AD295;
	z-index: 2;
}
.Title{
	position: absolute;
	top: 30%;
	font-weight: bold;
	color:white;
	font-size: 5vw;
	left: 20%;
}
.SubTitle{
	position: absolute;
	font-weight: bold;
	color:white;
	font-size: 4vw;
}
.SubTitle:before{
	content: "";
	position: absolute;
	left: 50%;
	margin-left:-25px;
	top: -30%;
	border-top: 2px solid #4AD295;
	width: 50px;
}
#myName{
	color: White;
}
@media only screen and (min-width: 855px)  {
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 24px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}
	.SubTitle{
		left: 30%;
		top: 48%;
	}
}
@media only screen and (max-width: 854px) and (min-width: 466px)  {
	.SubTitle{
		left: 30%;
		top: 44%;

	}
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 20px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}

}
@media only screen and (max-width: 466px){

	.SubTitle{
		left: 30%;
		top: 40%;
	}
	.Title{
		margin-left: -40px;
		font-size: 25px;
	}
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 18px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}
}
#GreatestNerd{
	background-image:
	linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.1)
        ),
				url(../Images/Coffee.jpg);
	background-size:cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	/* height:100vh; */
}
@media only screen and (max-width: 439px){

	#lastName{
		margin-left: 25%;
	}
	.Title{
		font-size: 28px;
	}
	.SubTitle{
		left: 30%;
		top: 45%;
	}
}
/* ------------------------------------------------------- */
#AboutMeSection{
	height:570px;
	width: 100%;
}
#AboutMeTitle{
	text-align: center;
	margin-top: 90px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .2em;
	margin-left: 50px;
	margin-right: 50px;
}
#AboutMeSection h2{
	font-weight: 900;
	margin-left: 35px;
	margin-right: 35px;
}

#AboutMeSection p{
	margin-top: 20px;
	margin-left: 35px;
	margin-right: 35px;
}
@media only screen and (min-width: 768px) {
	#AboutMeSection p{
		font-size: 1.9vw;
	}
}
@media only screen and (max-width: 767px) {
	#AboutMeSection p{
		font-size: 3.2vw;
	}
}
#AboutMeSection #line{
	position: absolute;
	width: 25px;
	background:#313030;
	margin-top: 5px;
	border-bottom:2px solid #313030;
}

#BWNYC{
	background-image:
	linear-gradient(
					rgba(0, 0, 0, 0.1),
					rgba(0, 0, 0, 0.1)
				),
				url(../Images/BWNY.jpg);
	background-size:cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 30px;
}
@media only screen and (min-width: 768px) {
	#BWNYC{
		height:80vh;
		margin-right: 40px;
	}
	#SmallBGPicture{
		float: right;
	}
	#AboutMe{
		float: left;
	}
}
@media only screen and (max-width: 767px) {
	#BWNYC{

		height:20vh;
	}
}
/*------------------------------------------------------------------*/
#MySkillsSection{
	height:auto;
	width: auto;
}
#MySkillsSection h1{
	text-align: center;
	margin-top: 90px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: .2em;
	margin-left: 50px;
	margin-right: 50px;
	color: #193540;
	padding-bottom: 50px;
}
#MySkillsSection h2{
	text-align: center;
	margin-top: 90px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: .2em;
	margin-left: 50px;
	margin-right: 50px;
	color: #193540;
	padding-bottom: 50px;
}
#MySkillsSection h1::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	margin-left: 40px;
	margin-top: 50px;
	background: #2F4953;
}
#MySkillsSection .Circle{
	background-color: #D85469;
	margin-left: 20%;
	height: 80px;
	width: 80px;
	border-radius: 120px;
	margin-bottom: 160px;
}

#MySkillsSection img{
	margin-left: 8px;
	margin-top: 7px;
	height: 65px;
}
#MySkillsSection .Circle::before{
	content: "";
	position: absolute;
	height: 5px;
	width: 40px;
	margin-left: 22px;
	margin-top: 100px;
	background: #D85469;
}
#MySkillsSection .description{
	height: 170px;
	margin-left: -45px;
	margin-top: 40px;
}

#MySkillsSection #Java{
	height: 80px !important;
	margin-left: 2px !important;
	margin-top: 0px !important;
}
@media only screen and (min-width: 600px){
	#MySkillsSection .description{
		width: 160px;
	}
	#MySkillsSection .imgHeader{
		text-align: center;
		font-weight: bold;
		color: #6d6d6d;
		font-size: 18px;
	}
	#MySkillsSection .imgSentence{
		font-size: 13px;
	}
}
@media only screen and (max-width: 599px){
	#MySkillsSection .description{
		width: 150px;
	}
	#MySkillsSection .imgHeader{
		text-align: center;
		font-weight: bold;
		color: #6d6d6d;
		font-size: 18px;
	}
	#MySkillsSection .imgSentence{
		font-size: 12px;
	}
}
#MySkillsExperienceSection{
	margin-top: -50px;
	height: 95%;
	width: 100%;
}
#MySkillsExperienceSection h1{
	text-align: center;
	margin-top: 90px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: .2em;
	width: 100%;

	color: #193540;
}
#MySkillsExperienceSection div .experienceSubTitle{
	text-align: center;
	margin: 0 10% 30px 10%;
	color: #727878;
}

.Languages ul,.Experience ul{
	list-style: none !important;
}
.Languages li,.Experience li{
	margin-top: 5px;
}
.Experience{
	transition: all 0.5s;
}
.Years{
	transition: all 0.5s;
	position: absolute;
	margin-left: 5px;
}
@media only screen and (min-width: 750px){
	#MySkillsExperienceSection {
  	  min-height: 200px;
	  height: 200px;
	}
	.Years{
		width: 100px;
	}
}
@media only screen and (max-width: 749px){
	.Experience{
		position: absolute;
		left: -70px;
		right: 0;
	}
	.Years{
		width: 60px;
	}
}
/*---------------------------PortfolioSection CSS-------------------------------*/

#PortfolioSection{
	height: auto;
	width: 95%;
	margin-left: 2%;
}
#PortfolioSection h1{
	margin-bottom: 50px;
}

@media only screen and (min-width: 750px){
	#PortfolioSection{
		margin-top: -80px;
	}
	 #PortfolioSection .ProjectImagesL{
		 height: 300px;
		 width: 35%;
		 margin: 0 0 5px 15%;
	 }
	 #PortfolioSection .ProjectImagesR{
		 height: 300px;
		 width: 33%;
		 margin: 0 0 5px 5px;
	 }
}
@media only screen and (max-width: 749px) and (min-width: 600px)  {
	#PortfolioSection{
		margin-top: -120px;
	}
		#PortfolioSection .ProjectImagesL{
			height: 300px;
			width: 45%;
			margin: 0 0 5px 4%;
		}
		#PortfolioSection .ProjectImagesR{
			height: 300px;
			width: 45%;
			margin: 0 0 5px 5px;
	}
}
@media only screen and (max-width: 599px)  {
	#PortfolioSection{
		margin-top: -200px;
	}
	#PortfolioSection .ProjectImagesL,	#PortfolioSection .ProjectImagesR{
			height: 300px;
			width: 88%;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 10px;
		}
}
#GuiPainting {
    background: url(../Images/GuiPainting.jpg) center center/cover;
		opacity: 0.9;
}
#CalendarHTML{
	background: url(../Images/CalendarHTML.png) center center/cover;
	opacity: 0.9;

}
#FirstHTML{
	background: url(../Images/FirstHTML.jpg) center center/cover;
	opacity: 0.9;
}
#GuiChat{
	background: url(../Images/GuiChat.jpg) center center/cover;
	opacity: 0.9;

}

#GuiPainting:hover,#CalendarHTML:hover,#SwiftGame:hover,#GuiChat:hover{
	transition: all 0.5s;
 }
 .ImageChanged{
	 -webkit-animation: imageAnimeOne 0.5s forwards;
  	animation: imageAnimeOne 0.5s forwards;
 }
 .ImageOriginal{
 	-webkit-animation: imageAnimeZeroEight 0.5s forwards;
 	 animation: imageAnimeZeroEight 0.5s forwards;
 }
 @keyframes imageAnimeOne {
	100%{
		opacity: 1;
	}
}
@keyframes imageAnimeZeroEight {
	0%{
		opacity: 1;
	}
 100%{
	 opacity: 0.9;
 }
}

.CircleDescription{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
	background-color: #293342;
	border: solid 1px black;
	height: 100px;
	width: 100px;
	border-radius: 250px;
	cursor: pointer;
	box-shadow:  0 0 10px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}
.CircleDescription h3{
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -10px;
	font-size: 14px;
	font-style: verdana;
	color: white;

}
.DiscriptionAppear{
	-webkit-animation: pvisible 0.5s forwards;
	 animation: pvisible 0.5s forwards;
}
.DiscriptionDisappear{
	-webkit-animation: phidden 0.5s forwards;
	 animation: phidden 0.5s forwards;
}
@keyframes pvisible {
	100%{
		opacity: 1;
		visibility:visible ;
	}
}
@keyframes phidden {
	100%{
		opacity: 1;
		visibility:visible ;
	}
	99%{
		opacity: 0;
	}
	100%{
		visibility:hidden;
	}
}
/*---------------------ContactMe section CSS-------------------------------*/
#ContactSection{
	height:auto;
	width: auto;
}
#ContactMe{
	height: 250px;
	width: 100%;

}
#ContactMe h1{
	position: absolute;
	color:#193540;
	letter-spacing: .1em;
	left: 50%;
	font-size: 40px;
	margin-left:-70px;
}
#ContactMe h1::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	margin-left: 20px;
	margin-top: 60px;
	background: #2F4953;
}
#ContactMe #ContactMeBtn{
	margin-top: 120px;
	position: absolute;
	z-index: 5;
	right: 50%;
	margin-right:-100px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #D85469;
	outline: none;
	border: none;
	width: 200px;
	height: 50px;
	transition: all 0.5s;
}
#ContactMe #ContactMeBtn:hover{
	font-size: 20.5px;
	transition: all 0.5s;
	background: #a82047;
}

@media only screen and (min-width: 650px){
	.bg-modal{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000000E6;
	}
	#Male{
		display: none;
	}
	.modal-content{
		transition: all 0.5s;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -225px;
		margin-top: -185px;
		height: 370px;
		width: 450px;
	}

	.modal-content h3{
		margin: 40px 0 10px 0;
	}
}

@media only screen and (max-width: 650px){
	.bg-modal{
		height: 100%;
		width: 100%;
	}
	.modal-content{
		transition: all 0.5s;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.modal-content h3{
		margin: 40px 0 40px 0;
	}
	#Male{
		margin-top: -24px;
		width: 100px;
		height: 100px;
		margin-left: 40%;
	}
	#ContactMeParagraph{
		width: 100%;
		height: 30px;
	}
}
@media only screen and (max-width: 450px){
	#Male{
		width: 50px;
		height: 50px;
		margin-left: 40%;
	}
	#ContactMeParagraph{
		width: 100%;
		height: 40px;
	}
}
.ModalAnimationClose{
	-webkit-animation-name: modalClose; /* Safari 4.0 - 8.0 */
	animation-duration: 0.3s;
	animation-name: modalClose;
	animation-duration: 0.3s;
}

.ModalAnimationOpen{
	-webkit-animation-name: modalOpen; /* Safari 4.0 - 8.0 */
	animation-duration: 0.3s;
	animation-name: modalOpen;
	animation-duration: 0.3s;
}

@keyframes modalOpen {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes modalClose {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.Close{
	position: absolute;
	z-index: 9;
	top: 25px;
	right: 15px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border-radius: 25px;
	transition: all 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background: white;
}

.Close::before{
	font-size: 30px;
	position: absolute;
	transform:rotate(45deg);
	font-weight: bold;
	content: "+";
	top: -5px;
	margin-left: 6px;
}
.Close:hover{
	color: white;
	background-color: black;
}
/* #ContactMeParagraph{
	width: 100%;
	height: 30px;
} */
.SubmitAndSave button{
	position: absolute;
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: white;
	background: #D85469;
	font-weight: bold;
	outline: none;
	border: none;
	left: 50%;
	bottom: 20px;
	margin-left: -50px;
}
.modal-content div{
	margin-top: 5px;
}
/* .modal-content #Form { margin-top: 20px} */
.modal-content input{
	width: 80%;
	border: none;
	outline: none;
	border-bottom: solid 1px black;
}
.modal-content textarea{
	width: 80%;
	height: 100px;
}
#Name{
	margin-left: 20px;
	height: 32px;
	width: 32px;
}
#Email{
	margin-left: 25px;
	height: 28px;
	width: 28px;
}
#Text{
	margin-left: 24px;
	height: 25px;
	width: 25px;
}

.Image-modal #ImageTitle{
	text-align: center;
	font-weight: bold;
	color: 	#a85d8a;
}
.Image-modal #UsedLanguages{
	font-size: 14px;
	padding-top: 10px;
	margin-left: 40px;
	padding-bottom: 15px;
}
.Languages,.DescriptionSubTitle{
	color: #5D8AA8;
}
.Image-modal #Description{
	margin-left: 40px;
	margin-right: 40px;
}
/*---------------------------ContactMe Ends Here-------------------------------*/


@media only screen and (min-width: 650px){
	.Image-modal{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000000E6;
	}
	.Imagemodal-content{
		position: absolute;
		border-radius: 10px;
		top: 15px;
		left: 50%;
		margin-left: -275px;
		width: 550px;
		height: 600px;
		background: white;
	}
	.Imagemodal-content .your-class img{
		max-width: 100%;
		max-height: 350px;
	}
	.Imagemodal-content .your-class{
		width: 100%;
	}
	.Imagemodal-content #SmallDescription{
		position: absolute;
		width: 100%;
		top: 360px;
		bottom: 0;
	}
}
@media only screen and (max-width: 649px){
	.Imagemodal-content{
		position: fixed;
		height: 140%;
		width: 100%;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background: white;
	}
	.Imagemodal-content .your-class img{
		max-width: 90%;
		max-height: 350px;
		margin-left: 20px;
		margin-top: 90px;
	}
	.Imagemodal-content .your-class{
		width: 100%;
	}
	.Imagemodal-content #SmallDescription{
		position: absolute;
		width: 100%;
		top: 440px;
		bottom: 0;
	}
}
@media only screen and (max-width: 500px){
	.Imagemodal-content #SmallDescription{
		top: 260px;
	}
	.Image-modal #Description, .Image-modal #UsedLanguages{
		font-size: 12px !important;
		margin: 10px;
	}
	.Imagemodal-content .your-class img{
		margin-top: 20px;
		max-width: 90%;
		max-height: 300px !important;
	}
}
/*---------------------------Footer CSS-------------------------------*/
#Footer{
	height:150px;
	width: 100%;
	background-color: #26262a;
	font-family: adobe-garamond-pro;
	justify-content: center;
}
#Footer h2{
	margin: 0;
	padding: 20px 0 20px 0;
}
#Footer ul {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	width: 160px;
}

#Footer ul li{
	text-align: center;
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
}
#attributeIcon{
	text-align: center;
	background: black;
	height: 35px;
	color: white;
	font-size: 10px;
}
