*{
	margin: 0;
	padding: 5;
}
html,body {
	background-color: white;
	color: white;
	height:100%;
	width: 100%;
  -webkit-font-smoothing:antialiased !important;
}

/* Section GreatestNerd - CSS*/
.Title{
	position: absolute;
	top: 30%;
	font-weight: bold;
	color:white;
	font-size: 5vw;
	left: 20%;

}
.SubTitle{
	position: absolute;
	font-weight: bold;
	color:white;
	font-size: 4vw;
}
.SubTitle:before{
	content: "";
	position: absolute;
	left: 50%;
	margin-left:-25px;
	top: -30%;
	border-top: 2px solid #4AD295;
	width: 50px;
}
#myName{
	color: White;
}
@media only screen and (min-width: 855px)  {
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 24px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}
	.SubTitle{
		left: 30%;
		top: 48%;
	}
}
@media only screen and (max-width: 854px) and (min-width: 466px)  {
	.SubTitle{
		left: 30%;
		top: 44%;

	}
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 20px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}

}
@media only screen and (max-width: 466px){

	.SubTitle{
		left: 30%;
		top: 40%;
	}
	.Title{
		margin-left: -40px;
		font-size: 25px;
	}
	#myName{
		float: left;
		margin-top: 45px;
		font-size: 18px;
		font-weight: bold;
		margin-left: 50px;
		transition: all .25s;
	}
}
#GreatestNerd{
	background-image:
	linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.1)
        ),
				url(../Images/Coffee.jpg);
	background-size:cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	/* height:100vh; */
}
@media only screen and (max-width: 439px){

	#lastName{
		margin-left: 25%;
	}
	.Title{
		font-size: 28px;
	}
	.SubTitle{
		left: 30%;
		top: 45%;
	}
}
/* ------------------------------------------------------- */
#AboutMeSection{
	height:570px;
	width: 100%;
}
#AboutMeTitle{
	text-align: center;
	margin-top: 90px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .2em;
	margin-left: 50px;
	margin-right: 50px;
}
#AboutMeSection h2{
	font-weight: 900;
	margin-left: 35px;
	margin-right: 35px;
}

#AboutMeSection p{
	margin-top: 20px;
	margin-left: 35px;
	margin-right: 35px;
}
@media only screen and (min-width: 768px) {
	#AboutMeSection p{
		font-size: 1.9vw;
	}
}
@media only screen and (max-width: 767px) {
	#AboutMeSection p{
		font-size: 3.2vw;
	}
}
#AboutMeSection #line{
	position: absolute;
	width: 25px;
	background:#313030;
	margin-top: 5px;
	border-bottom:2px solid #313030;
}

#BWNYC{
	background-image:
	linear-gradient(
					rgba(0, 0, 0, 0.1),
					rgba(0, 0, 0, 0.1)
				),
				url(../Images/BWNY.jpg);
	background-size:cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 30px;
}
@media only screen and (min-width: 768px) {
	#BWNYC{
		height:80vh;
		margin-right: 40px;
	}
	#SmallBGPicture{
		float: right;
	}
	#AboutMe{
		float: left;
	}
}
@media only screen and (max-width: 767px) {
	#BWNYC{

		height:20vh;
	}
}
/*------------------------------------------------------------------*/
#MySkillsSection{
	height:auto;
	width: auto;
}
#MySkillsSection h1{
	text-align: center;
	margin-top: 90px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: .2em;
	margin-left: 50px;
	margin-right: 50px;
	color: #193540;
	padding-bottom: 50px;
}
#MySkillsSection h1::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	margin-left: 40px;
	margin-top: 50px;
	background: #2F4953;
}
#MySkillsSection .Circle{
	background-color: #D85469;
	margin-left: 20%;
	height: 80px;
	width: 80px;
	border-radius: 120px;
	margin-bottom: 200px;
}

#MySkillsSection img{
	margin-left: 8px;
	margin-top: 7px;
	height: 65px;
}
#MySkillsSection .Circle::before{
	content: "";
	position: absolute;
	height: 5px;
	width: 40px;
	margin-left: 22px;
	margin-top: 100px;
	background: #D85469;
}
#MySkillsSection .description{
	height: 170px;
	margin-left: -45px;
	margin-top: 40px;
}

#MySkillsSection #Java{
	height: 80px !important;
	margin-left: 2px !important;
	margin-top: 0px !important;
}
@media only screen and (min-width: 600px){
	#MySkillsSection .description{
		width: 160px;
	}
	#MySkillsSection .imgHeader{
		text-align: center;
		font-weight: bold;
		color: #6d6d6d;
		font-size: 18px;
	}
	#MySkillsSection .imgSentence{
		font-size: 13px;
	}
}
@media only screen and (max-width: 599px){
	#MySkillsSection .description{
		width: 150px;
	}
	#MySkillsSection .imgHeader{
		text-align: center;
		font-weight: bold;
		color: #6d6d6d;
		font-size: 18px;
	}
	#MySkillsSection .imgSentence{
		font-size: 12px;
	}
}
/*---------------------------ContactMe section CSS-------------------------------*/
#ContactSection{
	height:auto;
	width: auto;
}
#ContactMe{
	height: 250px;
	width: 100%;

}
#ContactMe h1{
	position: absolute;
	color:#193540;
	letter-spacing: .1em;
	left: 50%;
	font-size: 40px;
	margin-left:-70px;
}
#ContactMe h1::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	margin-left: 20px;
	margin-top: 60px;
	background: #2F4953;
}
#ContactMe #ContactMeBtn{
	margin-top: 120px;
	position: absolute;
	z-index: 5;
	right: 50%;
	margin-right:-100px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #D85469;
	outline: none;
	border: none;
	width: 200px;
	height: 50px;
	transition: all 0.5s;
}
#ContactMe #ContactMeBtn:hover{
	font-size: 20.5px;
	transition: all 0.5s;
	background: #a82047;
}

@media only screen and (min-width: 531px){
	.bg-modal{
		height: 100%;
		width: 100%;
		background: #00000080;
	}
	#Male{
		display: none;
	}
	.modal-content{
		transition: all 0.5s;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -225px;
		margin-top: -185px;
		height: 370px;
		width: 450px;
	}

	.modal-content h3{
		margin: 40px 0 10px 0;
	}
}

@media only screen and (max-width: 530px){
	.bg-modal{
		height: 100%;
		width: 100%;
	}
	.modal-content{
		transition: all 0.5s;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.modal-content h3{
		margin: 40px 0 40px 0;
	}
	#Male{
		width: 100px;
		height: 100px;
		margin-left: 40%;
	}

}
.ModalAnimationClose{
	-webkit-animation-name: modalClose; /* Safari 4.0 - 8.0 */
	animation-duration: 0.3s;
	animation-name: modalClose;
	animation-duration: 0.3s;
}

.ModalAnimationOpen{
	-webkit-animation-name: modalOpen; /* Safari 4.0 - 8.0 */
	animation-duration: 0.3s;
	animation-name: modalOpen;
	animation-duration: 0.3s;
}

@keyframes modalOpen {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes modalClose {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.Close{
	position: absolute;
	top: 25px;
	right: 15px;
	height: 40px;
	width: 40px;
	cursor: pointer;
	border-radius: 25px;
	transition: all 0.5s;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.Close::before{
	font-size: 30px;
	position: absolute;
	transform:rotate(45deg);
	font-weight: bold;
	content: "+";
	top: -4px;
	margin-left: 13px;
}
.Close:hover{
	background-color: #EFF7F7;
}
#ContactMeParagraph{
	width: 100%;
	height: 30px;
}
.SubmitAndSave button{
	position: absolute;
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: white;
	background: #D85469;
	font-weight: bold;
	outline: none;
	border: none;
	left: 50%;
	margin-left: -50px;
}
.modal-content div{
	margin-top: 5px;
}
/* .modal-content #Form { margin-top: 20px} */
.modal-content input{
	width: 80%;
	border: none;
	outline: none;
	border-bottom: solid 1px black;
}
.modal-content textarea{
	width: 80%;
	height: 100px;
}
#Name{
	margin-left: 20px;
	height: 32px;
	width: 32px;
}
#Email{
	margin-left: 25px;
	height: 28px;
	width: 28px;
}
#Text{
	margin-left: 24px;
	height: 25px;
	width: 25px;
}
/*---------------------------ContactMe Ends Here-------------------------------*/

/*---------------------------Footer CSS-------------------------------*/
#Footer{
	height:150px;
	width: 100%;
	background-color: #26262a;
	font-family: adobe-garamond-pro;
	justify-content: center;
}
#Footer h2{
	margin: 0;
	padding: 20px 0 20px 0;
}
#Footer ul {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	width: 300px;
}

#Footer ul li{
	text-align: center;
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
}
#attributeIcon{
	text-align: center;
	background: black;
	height: 35px;
	color: white;
	font-size: 10px;
}
