/* Navigation - CSS*/
nav{
	position: fixed;
	height: 75px;
	width: 100%;
	z-index: 9999;
}
/* Hidden/toggled Navigation - CSS*/

.HiddenContent{
	position: fixed;
	background-color: #161815;
	min-height: -webkit-fill-available;
	background-image:
	linear-gradient(
					rgba(0, 0, 0, 0.3),
					rgba(0, 0, 0, 0.3)
				),
				url(../Images/WhiteBlack.jpg);
	background-size:cover;
	background-position: 50% 80%;
	background-repeat: no-repeat;
}
#myNameFixed{
	transition: all 0.5s;
	top: 8%;
	position: absolute;
}
@media only screen and (min-width: 700px) {
	.HiddenContent{
		width: 250px;
	}
	#myNameFixed{
		left: 22%;
		font-size: 25px;
	}
	.HiddenContent p{
		font-size: 2.5vh;
	}
}
@media only screen and (max-width: 699px) {

	.HiddenContent{
		width: 100%;
	}
	#myNameFixed{
		left: 35%;
		font-size: 5vw;
	}
	.HiddenContent p{
		font-size: 5vw;
	}
}
@keyframes NavOpen {
	0%{
		margin-left: -100%;
	}
	100%{
		margin-left: 0;

	}
}
@keyframes NavClose {
	0%{
		margin-left: 0%;
	}
	100%{
		margin-left: -100%;
	}
}
.HiddenContent p{
	text-align: center;
	font-weight: bold;
	margin-Bottom: 20px !important;
	text-decoration: none;
	animation: NavPAnimation 0.5s ease;
	animation-fill-mode: both;
}
.HiddenContent a{
	color: white !important;
	text-decoration: none !important;
	outline: none;
	transition: all 0.5s ease;
}
.HiddenContent a:hover{
	color: #b7fff0 !important;
}
#HiddenIcon{
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -40px ;
}
.NavAnimationClose{
	-webkit-animation-name: NavClose; /* Safari 4.0 - 8.0 */
	animation-duration: 1s;
  animation-name: NavClose;
  animation-duration: 1s;
}

.NavAnimationOpen{
	-webkit-animation-name: NavOpen; /* Safari 4.0 - 8.0 */
	animation-duration: 0.5s;
  animation-name: NavOpen;
  animation-duration: 0.5s;
}

.HiddenContent p:nth-child(1) { animation-delay: .1s }
.HiddenContent p:nth-child(2) { animation-delay: .2s }
.HiddenContent p:nth-child(3) { animation-delay: .3s }
.HiddenContent p:nth-child(4) { animation-delay: .4s }
.HiddenContent p:nth-child(5) { animation-delay: .5s }
.HiddenContent p:nth-child(6) { animation-delay: .6s }
#navicon{
	float: right;
	margin-top: 45px;
	display: inline-block;
	margin-right: 50px;
	transition: all .25s;
	width: 35px;
	height: 30px;
}
#navicon:hover{
	transition: 0.25s;
	cursor: pointer;
}
.bar1, .bar2, .bar3{
	width:28px;
	height:3px;
	background-color: white;
	margin:4px;
	transition: all 0.25s;
}

.navtoggle #navicon{
	transition: all 0.25s;
	top: 0;

}
.navtoggle .bar1{
	/* right: 5%; */
 -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}
.navtoggle .bar2 {
	width: 0;
}

.navtoggle .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-3px, -3px);
}

@keyframes NavPAnimation {
	0%{
		margin-left: -200%;
	}
	100%{
		margin-left: 0;

	}
}
/* Hidden/toggled Navigation Ends Here - CSS*/
